  <div class="card-header"><i class="fas fa-ghost"></i>ゲーム投稿</div>
      <table class="table table-borderless">
        <thead class="bg-info">
          <tr>
          <th>投稿ID</th>
          <th>投稿日時</th>
          <th>ゲーム名</th>
          <th>ジャンル</th>
          <th>投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            <td>
              <%= link_to admin_post_path(post) do %>
              <u class="hover-link"><%= post.name %></u>
              <% end %>
            </td>
            <td><%= post.genre.name %></td>
            <td><%= post.user.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>