<div class="container">
  <h3 class="d-inline-block px-4 mx-5 mb-3 text-primary"><i class="fas fa-user-secret"></i><%= @user.name %>さんの会員詳細</h3>
  <div class="row px-5 mt-4">
    <h4 class="col-2">登録情報</h4>
    <%= link_to "会員情報を編集", edit_admin_user_path(@user.id), class: "btn btn-outline-success px-5 offset-2" %>
  </div>
  <div class="row my-4 px-5">
    <table class="table table-bordered col-6 mb-5">
      <tr>
        <th class="text-nowrap">会員ID</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th class="text-nowrap">ニックネーム</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th class="text-nowrap">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="text-nowrap">ステータス</th>
        <% if @user.is_deleted == false %>
        <td class="text-success"><strong>有効</strong></td>
        <% else %>
        <td class="text-secondary"><strong>退会</strong></td>
        <% end %>
      </tr>
    </table>
    <div class="col-5 offset-1">
      <div class="row">
        <%= image_tag @user.get_profile_image, size:"350x300" %>
      </div>
    </div>
  </div>
</div>