<!DOCTYPE html>
<html>
  <head>
    <title>E.G.C</title>
    <%= favicon_link_tag("logo-black.png") %>
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="pb-5">
    <%= render "layouts/flash_message" %>
    <%= yield %>
    </main>
    <footer class="text-center", style="background-color: #00bfff">
      <div class="container">
        <div class="row">
          <div class="mx-auto mt-3">
            <p>©︎Enjoy.Gaming.Community.inc</p>
            <i class="fab fa-steam"></i>
            <i class="fab fa-xbox"></i>
            <i class="fab fa-playstation"></i>
            <i class="fab fa-twitch"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>